<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>MBMeteo</display-name>
    <servlet>
        <servlet-name>Get</servlet-name>
        <servlet-class>it.marcoberri.mbmeteo.action.Get</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuartzInitServlet</servlet-name>
        <servlet-class>it.marcoberri.mbmeteo.cron.QuartzInitServlet</servlet-class>
        <init-param>
            <param-name>shutdown-on-unload</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetDistinctTime</servlet-name>
        <servlet-class>it.marcoberri.mbmeteo.action.GetDistinctTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetChart</servlet-name>
        <servlet-class>it.marcoberri.mbmeteo.action.chart.Get</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>it.marcoberri.mbmeteo.action.Start</servlet-class>
        <init-param>
            <param-name>shutdown-on-unload</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetChartMinOrMax</servlet-name>
        <servlet-class>it.marcoberri.mbmeteo.action.chart.GetMinOrMax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetChartMinAndMax</servlet-name>
        <servlet-class>it.marcoberri.mbmeteo.action.chart.GetMinAndMax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>it.marcoberri.mbmeteo.action.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadCsv</servlet-name>
        <servlet-class>it.marcoberri.mbmeteo.action.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastTBar</servlet-name>
        <servlet-class>it.marcoberri.mbmeteo.action.chart.GetLastTBar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastUPie</servlet-name>
        <servlet-class>it.marcoberri.mbmeteo.action.chart.GetLastUPie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastTDial</servlet-name>
        <servlet-class>it.marcoberri.mbmeteo.action.chart.GetLastTDial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastUDial</servlet-name>
        <servlet-class>it.marcoberri.mbmeteo.action.chart.GetLastUDial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastRDial</servlet-name>
        <servlet-class>it.marcoberri.mbmeteo.action.chart.GetLastRDial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Get</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuartzInitServlet</servlet-name>
        <url-pattern>/QuartzInitServlet_2394872394792374825</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDistinctTime</servlet-name>
        <url-pattern>/getDistinctTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChart</servlet-name>
        <url-pattern>/getChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/Start_349583947534</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChartMinOrMax</servlet-name>
        <url-pattern>/getChartMinOrMax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChartMinAndMax</servlet-name>
        <url-pattern>/getChartMinAndMax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadCsv</servlet-name>
        <url-pattern>/DownloadCsv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastTBar</servlet-name>
        <url-pattern>/GetLastTBar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastUPie</servlet-name>
        <url-pattern>/GetLastUPie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastTDial</servlet-name>
        <url-pattern>/GetLastTDial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastUDial</servlet-name>
        <url-pattern>/GetLastUDial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastRDial</servlet-name>
        <url-pattern>/GetLastRDial</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
